:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --background: #2f303a;
  --team-color: #f5f4fa;
  --text-color: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--title-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* ---------- Header ---------- */

.header {
  display: flex;
  align-items: center;
  height: 80px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: 80px;
}

header {
  border-bottom: 1px solid #ececec;
}

.header .logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-right: 95px;
}

.logo-item {
  color: var(--accent-color);
}

/* ---------- Menu nav ----------- */

.nav {
  display: flex;
}

.nav li:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  color: var(--main-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  border-bottom: 2px;
  border-color: var(--accent-color);
}

.nav .current {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  margin-left: 330px;
}
.contact-list li:not(:last-child) {
  margin-right: 50px;
  flex-wrap: nowrap;
}

.link-contact {
  color: var(--text-color);
}

.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
}

/* ---------- Hero ---------- */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 600px;
  background-color: var(--background);
}

.hero-title {
  margin: auto;
  margin-bottom: 30px;
  width: 696px;
  height: 120px;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-color);
}

.hero button {
  box-sizing: content-box;
  width: 200px;
  height: 50px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  color: var(--title-color);

  font-family: 'Roboto';
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero button:hover,
.hero button:focus {
  background-color: var(--title-color);
  color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
}

/* ---------- Nav ---------- */

.skills-list {
  display: flex;
  text-align: left;
}

.skills-list h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.skills-list p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.skills-list li:not(:last-child) {
  margin-right: 35px;
}

/* ---------- Work ---------- */

.work {
  padding-top: 0;
}

.work-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-list img {
  display: block;
}

.work-list li:not(:last-child) {
  margin-right: 30px;
}

/* ---------- Team ---------- */

.team {
  height: 650px;
  background-color: var(--team-color);
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list li:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  width: 270px;
  height: 370px;
  background-color: var(--title-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;
}

.team-card h3 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-card p {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-text {
  padding: 30px 0;
}

/* ---------- Footer ---------- */

footer {
  height: 250px;
  background-color: var(--background);
  color: var(--title-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* ---- Contacts ---- */

.address-link,
.address-contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2.1;
  letter-spacing: 0.03em;
  text-align: center;
}
.li-address {
  margin-top: 15px;
}
.li-contact {
  margin-top: 3px;
}
.address-link:hover {
  color: var(--accent-color);
}
.address-contact {
  color: rgba(255, 255, 255, 0.6);
}
.address-contact:hover,
.address-contact:focus {
  color: var(--accent-color);
}

/* ---------- Portfolio ---------- */
/* ---------- Portfolio ---------- */
/* ---------- Portfolio ---------- */

/* ---- Galery projects ---- */

.projects {
  align-items: center;
}
.projects h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --- Menu nav --- */

.button-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-menu li {
  margin-right: 10px;
}
.button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  padding-left: 30px;
  padding-right: 30px;

  box-sizing: content-box;
  height: 40px;
  background-color: var(--team-color);
  border-radius: 4px;
  border: var(--team-color);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--title-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* ---------- Exsempls projects ---------- */

.pr-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pr-item {
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: calc ((100% - 60px) / 3);
  margin-right: 30px;
}
.pr-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}
.pr-item:nth-child(3n) {
  margin-right: 0;
}
.pr-item:nth-child(3n + 3) {
  flex-wrap: nowrap;
}
.pr-item:hover,
.pr-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.pr-item img {
  display: block;
}
.pr-text {
  padding: 20px 0 20px 25px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.pr-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--main-color);
}
.pr-desc {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color);
}
