/* Основний колір тексту #212121 */
/* Основний колір фона #FFFFFF */
/* Вториний колір тексту #757575 */
/* Вториний колір фона #2F303A */
/* Оденичний фон #F5F4FA */
/* Колір посилань при ховері, фокусі  та для логотипу */
/* Колір при ховері та фокусі кнопки #2196F3 */
/* Колір посилань у футері rgba(255, 255, 255, 0.6) */
/* Колір обрамлення гелереї  #eeeeee */

/* Заготовки для сторінки */

:root {
  --primary-text-color: #212121;
  --primary-background-color: #ffffff;
  --secondary-text-color: #757575;
  --secondary-background-color: #2f303a;
  --single-background-color: #f5f4fa;
  --link-hover-focus-web-color: #2196f3;
  --logo-color-header: #000000;
  --logo-color-footer: #ffffff;
  --footer-link-text-color: rgba(255, 255, 255, 0.6);
  --galery-background: #eeeeee;
}

/* Тіло сторінки  */

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Видалення крапок в списках */

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* Розмір і відступи контейнерів */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Вертикальні падінги для всіх секцій */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Обнуюємо марджени заголовків,абзаців та списків*/

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Змінюємо тип картинок для видалення непотрібного простору */

img {
  display: block;
}

/* Шапка сторінки */

/* Рамка футера */
.header-page {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}
/* Логотип */

.logo {
  color: var(--logo-color-header);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Колір для Web */

.web {
  color: var(--link-hover-focus-web-color);
}

/* Навігація посилань */

.site-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-left: 93px;
}

.nav-item {
  display: block;
  padding: 32px 0;
}

/* Маржини навігаційних посилань */

.nav .nav-item + .nav-item {
  margin-left: 50px;
  display: block;
  padding: 32px 0;
}

/* Навігаційні посилання хедера */

.header-page .link {
  padding: 24px 0;

  color: inherit;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Навігаційні послиання при ховері і фокусі */

.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--link-hover-focus-web-color);
}

/* Оборачиваю в div контакты хедера */
.contacts-items {
  display: flex;
  margin-left: auto;
}

.contacts-items .contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-items .link {
  color: var(--secondary-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Контактні посилання при ховері і фокусі */

.contacts-items .link:focus,
.contacts-items .link:hover {
  color: var(--link-hover-focus-web-color);
}

/* ----- Герої ----- */

.hero {
  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.site-nav .link.current {
  color: var(--link-hover-focus-web-color);
}

/* Заголовок героїв */

.title-hero {
  color: var(--primary-background-color);
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка в героях  */

.hero .button {
  display: inline-block;
  background-color: var(--link-hover-focus-web-color);
  color: var(--primary-background-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  display: inline-block;
  text-align: center;
}

/* Кнопка при ховері і фокусі */

.button:hover,
.button:focus {
  background-color: var(--primary-background-color);
  color: var(--link-hover-focus-web-color);
}

/* ------ Скіли ------ */

/* Прихований заголовок  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
}

.features-list-items {
  width: 270px;
}

.features-list-items + .features-list-items {
  margin-left: 30px;
}

/* Заголовок списку скилів*/

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Оформлення тексту скилів */

.features-text {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* ------ Робота ------ */

.activity {
  padding-top: 0px;
}

/* Заголовок секції */

.activity-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
}

.activity-list-item + .activity-list-item {
  margin-left: 30px;
}

/* ----- Наша команда ------ */

.team {
  background-color: var(--single-background-color);
  text-align: center;
}

/* Заміна типу списка на флекс*/

.team-items {
  display: flex;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
  width: 270px;
}

.team-item + .team-item {
  margin-left: 30px;
}

/* Імя */

.team-item-name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.position {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* ------ Подвал ------ */

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-background-color);
  color: var(--primary-background-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Лого подвала */

/* Весь лого футера */

.footer-logo,
.logo-footer {
  color: var(--primary-background-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer {
  color: var(--logo-color-footer);
}
/* Частина лого "web" футера */

.footer-web {
  display: inline-block;
  color: var(--link-hover-focus-web-color);
}

/* Лого футер */

.footer-link {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--link-hover-focus-web-color);
}

/* Оформлення адреси */

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.adress-title {
  margin-bottom: 9px;
}

.footer-contact-mail {
  margin-bottom: 9px;
}

/* Оформлення посилань адреси  */

.footer-address .link {
  color: var(--footer-link-text-color);
  text-decoration: none;
}

/* Посилання адресу при ховері і фокусі*/

.footer-address .link:hover,
.footer-address .link:focus {
  color: var(--link-hover-focus-web-color);
}

/* ------ Портфоліо ------ */
/* ------ Портфоліо ------ */
/* ------ Портфоліо ------ */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
/* Кнопки фильтра */

.filter .button {
  display: flex;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  background-color: var(--single-background-color);

  font-family: inherit;
  cursor: pointer;
}

/* Відступи між кнопками фільтра */

.filter-button + .filter-button {
  margin-left: 8px;
}

/* Кнопки фільтра при ховері і фокусі */

.filter .button:focus,
.filter .button:hover {
  background-color: var(--link-hover-focus-web-color);
  color: var(--primary-background-color);
}

/* Флекс контейнер для елементів портфоліо */

.galery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -15px;
}

/* Відступи для елементівгалереї */

.galery-item {
  width: 370px;
  margin: 15px;
}

/* Забераємо підкреслення посилання */

.galery .link {
  text-decoration: none;
  color: inherit;
}

/* Розмір шрифтів заголовкам галереї */

.galery-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Розмір шрифту для класів галереї */

.filter-unit {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* Марджини для підписів картинок портфоліо */

.photo-info {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
